.pswp__top-bar {
    background-color: transparent;
}

.pswp__ui--fit {
    .pswp__top-bar {
        background-color: transparent;
    }
}

.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
    background-color: transparent;
}